* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --secondary-black: #262626;
    --dg-negro-uno: #1E1E1E;
    --dg-negro-dos: #2D3037;
    --francia-berna: #E1A87A;
    --dg-fb-uno: #BC7F62;
    --dg-fb-dos: #DFB58D;
    --dg-fb-tres: #CC906E;
    --dark-grey: #2D3236;
    --white: #FFFFFF;
    --dark-white: #DBDBDB;
    --bg-section: #443E2B;
    --main-text: "Playfair Display", serif;
    --secondary-text : "Open Sans", sans-serif;
}

.custom-navbar{
    background: var(--black);
    max-height: 10vh;
    border-bottom: 0.5px solid var(--dg-negro-dos);
}

.navbar-brand {
    font-family: var(--main-text);
    font-weight: 900;
    color: var(--francia-berna);
    font-size: 30px;
}

.navbar-brand:hover {
    color: var(--dark-white);
}

.navbar-bar{
    font-family: var(--secondary-text);
}

.nav-link{
    color: var(--dark-white);
    transition: color 0.5s ease;
    margin: 0 15px;
}

.nav-link:hover{
    color: var(--francia-berna)!important;
}

.nav-link:focu{
    color: var(--francia-berna)!important;
}

.active {
    color: var(--francia-berna)!important;
    font-weight: 600;
}

.custom-button {
    background: linear-gradient(
        90deg,
        var(--dg-fb-uno),
        var(--dg-fb-dos),
        var(--dg-fb-tres)
    );
    background-size: 300%;
    border-radius: 10px;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    align-items: center;
    transition: color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px!important;
    padding-right: 25px !important;
    text-decoration: none;
}
.custom-button:hover {
    animation: metallic-gradient 2.5s linear infinite;
    color: var(--dark-grey)!important;
}

.custom-button:hover i {
    animation: arrow-loop 1s ease-in-out infinite;
}

.custom-button-outline {  
    border-radius: 10px;
    color: var(--dark-white);
    cursor: pointer;
    display: inline-block;
    align-items: center;
    transition: color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px!important;
    padding-right: 25px !important;
    text-decoration: none;
    border: 1px solid var(--francia-berna);
}

.custom-button-outline:hover {
    background: linear-gradient(
        90deg,
        var(--dg-fb-uno),
        var(--dg-fb-dos),
        var(--dg-fb-tres)
    );
    background-size: 300%;
    transition: color 0.3s ease;
    color: var(--dark-grey);  
    animation: metallic-gradient 2.5s linear infinite;
}

.custom-button-outline:hover i {
    animation: arrow-loop-down 1s ease-in-out infinite;
}

@keyframes metallic-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes arrow-loop {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes arrow-loop-down {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.landing {
    width: 100%;
    height: 90vh;
    background: #040404;
}

.landing-row{
    height: 100%;
}

.custom-h1{
    font-family: var(--main-text);
    font-weight: 800;
    font-size: 50px;
    color: var(--dark-white);
}

.custom-text {
    font-family: var(--secondary-text);
    color: var(--dark-white);
}

.custom-line {
    width: 100%;
    height: 1px;
    background: var(--francia-berna);
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-span {
    color: var(--francia-berna);
}

.landing-col-right {
    padding: 0 auto;
}

.landing-col-right img {
    height: 90vh;
}

.custom-h2{
    font-family: var(--main-text);
    font-weight: 800;
    font-size: 36px;
    color: var(--dark-white);
}

main {
    background: linear-gradient(var(--secondary-black), var(--black));
    border-bottom: 1px solid var(--dark-grey);
}


.custom-card-uno {
    height: 500px;
    border: 1px solid var(--francia-berna);
    border-radius: 20px;
    background: linear-gradient(var(--dg-negro-dos), var(--dg-negro-uno));
    width: 32%;
}

.custom-icon-card-uno{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background: var(--francia-berna);
    text-align: center;
    margin:  50px auto;
}

.custom-icon-card-uno i {
    color: var(--dark-grey);
    font-size: 60px;
    line-height: 60px;
}

.custom-h3 {
    font-family: var(--main-text);
    font-weight: 700;
    color: var(--dark-white);
}

.custom-row-cards{
    width: 80%;
}

.custom-banner {
    max-width: 100%;
    width: 100%;
}

.custom-numbers {
    max-width: 100%;
    width: 100%;
}

.custom-h4 {
    color: var(--francia-berna);
    font-family: var(--main-text);
    font-weight: 900;
    font-size: 60px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.custom-aside{
    background: var(--black);
}

.foto-cv {
    border-radius: 20px;
    border: 1px solid var(--francia-berna);
}

.custom-cv {
    height: 300px;
    max-height: 300px;
    border: 1px solid var(--francia-berna);
    border-radius: 20px;
    background: linear-gradient(var(--dg-negro-dos), var(--dg-negro-uno));
}

.fa-bullseye {
    color: var(--francia-berna);
    font-size: 40px;
    align-self: center;
}

.custom-button-cv {
    width: 100%;
    border-radius: 10px;
    color: var(--dark-white);
    cursor: pointer;
    display: inline-block;
    align-items: center;
    transition: color 0.3s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px!important;
    padding-right: 25px !important;
    text-decoration: none;
    border: 1px solid var(--francia-berna);
    text-align: center;
}

.custom-button-cv:hover {
    background: linear-gradient(
        90deg,
        var(--dg-fb-uno),
        var(--dg-fb-dos),
        var(--dg-fb-tres)
    );
    background-size: 300%;
    transition: color 0.3s ease;
    color: var(--dark-grey);  
    animation: metallic-gradient 2.5s linear infinite;
}

.custom-button-cv:hover i {
    animation: arrow-loop-link 1s ease-in-out infinite;
}

@keyframes arrow-loop-link {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.custom-container-blog {
    background: var(--secondary-black);
    height: 100vh;
}

.custom-container-blog img {
    height: 52px;
}

.custom-highlight {
    height: 250px;
    border: 1px solid var(--francia-berna);
    border-radius: 20px;
    background: linear-gradient(to bottom right var(--dg-negro-uno), var(--dg-negro-dos));
    width: 100%;
}

.custom-section{
    color: var(--francia-berna);
    font-family: var(--secondary-text);
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    height: 24px;
    line-height: 14px;
    width: auto;
    background: var(--bg-section);
    padding: 6px 12px;
    border-radius: 24px;
    border: 1px solid var(--francia-berna);
}

.custom-section:hover{
    color: var(--secondary-black);
    background: var(--francia-berna);
    border: 1px solid var(--bg-section);
}


.custom-section-left{
    width: 70%;
}

.custom-section-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  justify-content: space-between;
  min-height: 100%;
}

.custom-date {
  color: var(--dark-white);
  text-align: right;
  width: 100%;
  margin-bottom: auto;
}

.custom-large-button {
  width: 100%;
  margin-top: auto;
  text-align: center;
}

.custom-contact{
    height: 100vh;
    background: var(--black);
}

.custom-img-contact{
    height: 60vh;
    border-radius: 20px;
    border: 1px solid var(--francia-berna);
}

.custom-container-form{
    height: 60vh;
    background: linear-gradient(var(--dg-negro-uno), var(--dg-negro-dos));
    border: 1px solid var(--francia-berna);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-container-form input,
.custom-container-form textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    background: #2E3138;
    outline: none;
    font-family: var(--secondary-text);
}

.custom-container-form input:hover,
.custom-container-form textarea:hover {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    background: #2E3138;
    outline:1px solid var(--francia-berna)!important;
    caret-color: var(--dark-white);
}

.custom-container-form input:focus,
.custom-container-form textarea:focus {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    background: #2E3138;
    outline:1px solid var(--francia-berna)!important;
    caret-color: var(--dark-white);
}

.custom-footer {
    height: 40vh;
    background: var(--dark-grey);

}

.custom-h6{
    font-family: var(--secondary-text);
    color: var(--dark-white);
    font-size: 26px;
    font-weight: 700;
    width: 100%;
}

.custom-list{
    list-style: none;
    padding-left: 0;
}

.custom-list-item {
    text-align: center;
}

.custom-list-item a{
    font-family: var(--secondary-text);
    color: var(--dark-white);
    text-decoration: none;
    font-size: 18px;
}

.custom-list-item a:hover{
    font-family: var(--secondary-text);
    color: var(--francia-berna);
    text-decoration: none;
    font-size: 18px;
}

.custom-icon-footer {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    font-size: 30px;
    color: var(--dark-white);
    background: var(--francia-berna);
}

.custom-icon-footer:hover{
    color: var(--black);
}

.custom-icon-a{
    text-decoration: none;
    height: 70px;
}
